.nx-theme-form *{
font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}
.nx-theme-form header.nx-panel-header {
    background: #851851 !important;
    border: none !important;
}
.nx-theme-form ntx-image.ng-star-inserted  .nx-image-component {
    width:133px;
}
.nx-theme-form header.nx-panel-header .nx-theme-richtext  {
    color: white !important;
    font-weight:500;
}

  .nx-theme-form  header.nx-panel-header .nx-theme-richtext{    
    color: white !important;
    font-weight:500;
    }
.nx-theme-form header.nx-panel-header .nx-theme-richtext * {
    color: white !important;
	font-size:1rem;
    font-weight: 500;
}


[dir] .nx-theme-styles .nx-group-control-container-border-color {
    border: none;
}

[dir] .nx-theme-styles .nx-group-control-body {
    background-color: transparent;
    border: 1px solid #e6e6e6;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    background: #f8f8f8;
}

.nx-theme-form .nx-form-label .nx-title {
    color: black;
    font-size: 0.9rem !important;
    font-weight:500;
}

.ntx-repeating-section-remove-button {
    background: #a51414 !important;
    color: white !important;
    border: 1px solid #971717 !important;
    opacity: 0.6  !important;
}

.ntx-repeating-section-remove-button:hover {
    opacity: 1 !important;
}


[dir] .nx-theme-styles .nx-theme-button-1 {
    background: #851851 !important;
    border: 1px solid #851851;
    font-weight: normal;
}

[dir] .nx-theme-styles .nx-theme-button-1:hover {
    background: #a82167 !important;
}
[dir] .nx-theme-styles .nx-theme-richtext p {
    color: black;
    font-size: 0.9rem;
    font-weight:500;
}

header.nx-panel-header .nx-control-richtext-label p {
    font-size: 1rem !important;
}

[dir] .nx-theme-styles .form-control[readonly].nx-read-only {
    border-radius: 4px;
}

[dir] .nx-theme-styles .nx-theme-input-1 {
    border-radius: 3px;
}
.nx-group-control-container.nx-group-control-container-border-color.repeat-items .repeat-class {
    background: #f6f1e4;
    padding: 8px;
    border:1px solid #d6ceb9;
    text-align:center;
 
}
.nx-group-control-container.nx-group-control-container-border-color.repeat-items .repeat-class  .nx-theme-richtext{
    padding:0 !important;
margin:0 !important;
}

.nx-group-control-container.nx-group-control-container-border-color.repeat-items .repeat-class  .nx-theme-richtext p{
color:#851851
}

h1.nx-theme-heading-1,.header-title * {
    color: #851851 !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
	text-align:left !important;
}

	
[dir] .nx-theme-styles .nx-theme-button-2 {
    color: #851851;
    border: 1px solid #851851;
}

[dir] .nx-theme-styles .nx-theme-button-2:Hover {
    background: #851851 !important;
}

[data-e2e='btn-cancel'] {
    background: #bf1e1e !important;
    color: white !important;
    border: 1px solid #9d1c1c !important;
}

[dir] .nx-theme-styles button[data-e2e='btn-cancel']:hover {
    background: #c73b3b !important;
}
[dir] .nx-theme-styles .ntx-repeating-section-repeated-section.ntx-repeating-section-alternate-background:nth-child(even) {
    background: #f4faff !important;
}
[dir] .nx-theme-styles .htmleditor .nf-label-control {
    background: #851851;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white !important;
    margin-bottom: 12px;
    margin: 0;
    border-right: 1px solid white;
}

[dir] .nx-theme-styles .htmleditor .readonly-control-output {
    background: white;
    width: 100%;
    display: flex;
    padding: 9px;
    border: 1px solid #c3c3c3;
    font-size: 0.9rem !important;
}

[dir] .nx-theme-styles .htmleditor .nf-col {
    padding: 0;
}

[dir] .nx-theme-styles .htmleditor .row.nf-droppable-container {
    display: flex;
}

[dir] .nx-theme-styles .htmleditor .nf-col.col-xs-12.col-sm-12.col-md-6.nf-droppable-container {
    flex: 1;
}
